@use "../../styles/partials/globals.scss" as *;

.browse-recipes-page {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  background-color: $off-white;
  border: 1rem solid $light-blue;
  padding: 10rem;
  @include flex(column, flex-start);
  border-top: none;
}

.recipe-search {
  width: 60vw;

  &__input {
    background-color: $off-white;
    border: 0.5rem solid $light-blue;
    border-radius: 1.25rem;
    padding: 1rem;
    width: 60%;
    @include box-shadow;
    color: $dark-blue;
    font-size: 1.2rem;
    margin-right: 2rem;
    outline: none;
  }
}

.link {
  text-decoration: none;
}
