@use "../../styles/partials/globals.scss" as *;

.link {
  text-decoration: none;
}

.landing-page {
  width: 100vw;
  height: 100vh;
  background-color: $off-white;
  @include flex(row, space-evenly);
  padding-bottom: 10rem;
}

.create,
.browse {
  color: $off-white;
  padding: 5rem;
  border-radius: 1.25rem;
  @include box-shadow;
  width: 40rem;
  height: 30rem;
  &__title {
    margin: 0;
    font-size: 3rem;
  }

  &__description {
    font-size: 2rem;
  }
}

.create {
  background-color: $light-red;
}

.browse {
  background-color: $light-blue;
}
