@use "./typography.scss" as *;
@use "./mixins.scss" as *;
@use "./typography.scss" as *;
@use "./variable.scss" as *;
@forward "./typography.scss";
@forward "./mixins.scss";
@forward "./typography.scss";
@forward "./variable.scss";

html {
  box-sizing: border-box;
  font-family: rubik, Arial, Helvetica, sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: inherit;
}
