@use "../../styles/partials/globals.scss" as *;

.link {
  text-decoration: none;
}

.nav {
  @include flex(row, space-evenly);
  background-color: $off-white;
  height: 8rem;
  border: 1rem solid #00000000;
  border-bottom: none;
  &__home-icon {
    width: 4rem;
  }

  &__home-icon {
    border-radius: 1.25rem;
  }

  &--red {
    border: 1rem solid $light-red;
    border-bottom: none;
  }

  &--blue {
    border: 1rem solid $light-blue;
    border-bottom: none;
  }
}
